<div class="shopping-cart" *ngIf="isCartNotEmpty(); else emptyCart">
    <mat-card *ngFor="let item of items$ | async" class="shopping-cart__item">
        <img mat-card-md-image src={{item.productImg}} alt="{{item.productImgAlt}}" class="shopping-cart__item__image">
        <div class="shopping-cart__item__heading">
            <mat-card-title-group>
                <mat-card-title class="shopping-cart__item__name">{{ item.productName }}</mat-card-title>
                <mat-icon (click)=deleteItem(item.productId)>close</mat-icon>
            </mat-card-title-group>
            <form>
                <mat-card-title class="shopping-cart__item__price">${{ item.productPrice }}</mat-card-title>
                <input matInput type="number" min="1" id="amount" name="amount" [(ngModel)]="item.productCnt"
                    (ngModelChange)="updateCart(item.productId, item.productCnt)" oninput="validity.valid||(value='');">
            </form>
        </div>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
        <mat-card-subtitle>Total cost:</mat-card-subtitle>
        <mat-card-title>${{ totalCost }}</mat-card-title>
    </mat-card>
    <button mat-raised-button color="primary" routerLink="/checkout">Checkout</button>
</div>
<ng-template #emptyCart>
    <p>Cart is empty!</p>
</ng-template>