.product-details {
    text-align: center;
    padding: 20px;

    &__book {
        padding: 15px;

        &__heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            &__amount {
                
                & input {
                    width: 55px;
                    margin-top: 5px;
                }
            }
        }

        &__btn {
            width: 100%;
        }
    }
}