.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    & h3 {
        padding: 0 5px;
    }

    &__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & button {
            border: 0;
            background: transparent;
        }
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;

        &__cart {
            margin: 0 5px;
            cursor: pointer;
        }

        &__hamburger {
            margin: 0 10x;
            cursor: pointer;
        }
    }
}