<div class="product-list" *ngFor="let product of products" [routerLink]="['/product', product.id]">
    <mat-card class="product-list__book">
        <img src="{{product.imgPath}}" alt="{{product.imgAlt}}" mat-card-image>  
        <div class="product-list__book__heading">
            <mat-card-title>{{ product.name }}</mat-card-title>
            <mat-card-title>${{ product.price }}</mat-card-title>
        </div>
        <mat-card-content>{{ product.description | truncate: 50 }}</mat-card-content>
    </mat-card>
</div>